*{
    margin: 0;
    padding: 0;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.container{
    width: 100%;
    min-height: 100vh;
    background: url('1.jpg') no-repeat;
    background-position: center;
    background-size: cover;
    padding: 10px;
}
.goal-set-app{
    width: 100%;
    max-width: 540px;
    background: transparent;
    border: 2px solid rgba(255,255,255,.2);
    backdrop-filter: blur(35px);
    box-shadow: 0 0 10px rgba(88, 10, 10, 0.2);
    color: #dc4c4c;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
}
.goal-set-app h2{
    color: rgb(221, 79, 79);
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #edeef0;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 23px;
}
input{
    flex: none;
    border: none;
    outline: transparent;
    background: transparent;
    padding: 10px;
    font-weight: 14px;
}
button{
    border: none;
    outline: none;
    padding: 16px 50px;
    background: #ff5945;
    color: #fff;
    font-size: 15px;
    cursor: pointer;
    border-radius: 40px;
}
ul li{
    list-style: none;
    font-size: 17px;
    padding: 13px 9px 13px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
    border-color: black;
}
ul li::before{
    content: '';
    position: absolute;
    height: 27px;
    width: 27px;
    border-radius: 50%;
    background-color: #fff;
    border-color: black;
    background-size: cover;
    background-position: center;
    top: 13px;
    left: 9px;
}
ul li.checked{
    color: #555;
    text-decoration: line-through;
}
ul li.checked::before{
    background-color: #ff5945;
}
ul li span{
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #555;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}
ul li span:hover{
    background: #edeef0;
}